---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ cephcsi_vars.kubernetes.client_key_secret }}'
  namespace: '{{ cephcsi_vars.kubernetes.namespace }}'
type: Opaque
data:
  userID: '{{ cephcsi_vars.kubernetes.ceph.client_user | b64encode }}'
  userKey: '{{ credential_ceph_admin_key | b64encode }}'
