{% if defaults.cluster.registry.endpoint | length > 0 %}
mirrors:
{% for mirror in defaults.cluster.registry.mirrors %}
  {{ mirror }}:
    endpoint:
      - "{{ defaults.cluster.registry.endpoint }}"
{% endfor %}
{% endif %}
